body {
  
  background-color: #8ad1e2;
  
  }
  
   #whatsapp {
    
  display: none;
  position: fixed relative;
  height:"100%"; 
  width:"100%"; 
  }
  
  p {
  border: 4px solid black;
  background-color: rgb(194, 238, 200);
  /* clips the background color to content only */
  background-clip: content-box;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  }
  
  span {
  font-weight: bold;
  color: red;
  }
  